.ventana{
  background-color: blue;
  width: 100%;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 250px;
  border-radius: 22px;
  position: absolute;
  right:0%;
  border-color: black;
  border-width:medium;

}
